body {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

#typer{
    position: absolute;
    top: -5000000px;
    color: transparent;
}

#target-text{
    color: #3A3B3C;
    font-size: 1.65rem;
    font-weight: bold;
}

#logo, .headcount{
    display: flex;
    align-items: center;
    justify-content: center;
}

.correct{
    color: #FFAC41;
}

.incorrect{
    color: #FF1E56;
    text-decoration: underline;
}

.mycard{
    background: transparent;
    border: 1.5px solid #FFAC41;
    padding: 2rem;
}

.size-inc{
    font-size: 4rem;
}

.none-dis, .none-dis:focus{
    display: none;
}

.bg-accent{
    background-color: #FFAC41 !important;
    color: #3A3B3C !important;
    font-weight: bold;
}

a{
    text-decoration: none;
}

.cursor-style{
    background-color: #543c1c;
    opacity: 0.59;
    color: whitesmoke;
    animation: blink 0.7s linear infinite;
}

@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity:0.5;}
}